# Environment
.env
.env.local

# Rust
**/target/
**/*.rs.bk

# Node / SolidJS
**/node_modules/
**/dist/

# Database
**/data/*.db
**/data/*.db-journal

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
master
